.header {
  @media screen and (max-width: $max-mob) {
    position: relative;
  }
}
.header__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: $max-mob) {
    height: 60px;
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid var(--br-project__box);
  }
}
.site-nav__logo {
  display: inline-block;
  // @media screen and (min-width: $desktop) {
  //   display: inline-block;
  // }
}
/* Site-nav */

.logo__accent {
  margin-right: -4px;
  color: var(--accent-color);
}
.logo__dark {
  color: var(--title-text-color);
}
.logo__white {
  color: var(--primari-white-color);
}

.logo__accent,
.logo__dark,
.logo__white {
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.menu-mobile {
  @media screen and (max-width: $max-mob) {
    display: inline-flex;
    z-index: 1;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.box-nav {
  @media screen and (max-width: $max-mob) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    padding-top: 48px;
    padding-left: 40px;

    background-color: var(--primari-white-color);
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
.site-nav {
  align-items: center;
  @media screen and (max-width: $max-mob) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
.site-nav__list,
.contact {
  @media screen and (max-width: $max-mob) {
    margin: 0px;
    padding: 0px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}
.site-nav__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
  }
}
.site-nav__link,
.contact__link {
  display: inline-flex;
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.site-nav__link {
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: $max-mob) {
    font-size: 40px;
    text-align: center;
  }
}
.site-nav__item {
  @media screen and (max-width: $max-mob) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.site-nav__link {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    left: 0px;
    bottom: -2px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    opacity: 0;
  }
}

.site-nav__link--current-studio,
.site-nav__link--current-portfolio {
  color: var(--accent-color);

  &::after {
    opacity: 1;
  }
}

//#portfolio {
//  color: var(--accent-color);

//  &::after {
//    opacity: 1;
//  }
//}

/* Contact */

.site-nav,
.contact {
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
// .contact__item {
//   @media screen and ($tablet) {
//     width: 138px;
//   }
// }
.contact__item + .contact__item {
  @media screen and (max-width: $max-mob) {
    & {
      margin-top: 32px;
    }
  }
  @media screen and (min-width: $tablet) {
    margin-top: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
    margin-top: 0;
  }
}
.contact {
  @media screen and (max-width: $max-mob) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
  }
}
.contact__link {
  display: inline-flex;
  align-items: center;
  color: var(--primari-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: $max-mob) {
    font-size: 32px;
    line-height: 1.18;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: var(--primari-text-color);

  transition: fill 250ms var(--timing-function);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-color);
  }
}
.messenger {
  display: flex;
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: left;
  @media screen and (min-width: $max-mob) {
    display: none;
  }
}

.messenger__item {
  padding: 0 5px;
}
.messenger__item--padding {
  padding-left: 0;
}
.messenger__item + .messenger__item {
  border-left: solid 1px var(--modal__input--br);
}
.messenger__item {
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
