.hero {
  height: 400px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-color: var(--hero-bgrcolor);
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero_mobile.jpg);
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_mobile@2x.jpg);
  }
  @media screen and (max-width: $max-mob) {
    width: auto;
  }
  @media screen and (min-width: $mobile) {
    width: 480px;
    background-size: 480px 400px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_tablet.jpg);
    background-size: 768px 400px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero_tablet@2x.jpg);
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    width: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_desktop.jpg);
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero_desktop@2x.jpg);
    }
  }
}
.hero__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  // text-align: center;

  color: var(--primari-white-color);
  @media screen and (min-width: $desktop) {
    width: 696px;
    margin: 0px auto 30px auto;

    font-size: 44px;
    line-height: 1.37;
  }
}
.hero__btn {
  width: 200px;
  height: 50px;

  color: var(--primari-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: $font-medium;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;

  transition: background-color 2500ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-btn-hero);
  }
}
