.page {
  background-color: var(--primari-white-color);
  color: var(--primari-text-color);

  font-family: $base-font;
  font-weight: 400;
  font-size: $font-paragraph;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
